.gitattributes export-ignore
.gitignore export-ignore
notes/ export-ignore
iso_639-3/iso-dis-639-tab-parse.py export-ignore
iso_639-3/iso_639_3.tab export-ignore
iso_639-3/iso_639_3_Name_Index.tab export-ignore
iso_639-5/iso-dis-639_5-download.sh export-ignore
iso_639-5/iso-dis-639_5-parse.py export-ignore
