Makefile
autom4te.cache/
config.log
config.status
iso-codes.pc
iso_639-2/iso_639.tab
iso_639-5/rdf
# Ignore binary translation files and backup copies
*.mo
*~
# Ignore the release tarballs and signatures
*.xz
*.xz.sig
