Makefile
autom4te.cache/
config.log
config.status
iso-codes.pc
iso_639/iso_639.tab
# Ignore binary translation files and backup copies
*.mo
*~
# Ignore the release tarballs and signatures
*.gz
*.gz.sig
*.bz2
*.bz2.sig
*.xz
*.xz.sig
