Source: iso-codes
Section: misc
Priority: optional
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Uploaders: Tobias Toedter <toddy@debian.org>, Christian Perrier <bubulle@debian.org>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: gettext, python (>= 2.4)
Standards-Version: 3.7.3
Homepage: http://pkg-isocodes.alioth.debian.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-isocodes/trunk/iso-codes/
Vcs-Svn: svn://svn.debian.org/pkg-isocodes/trunk/iso-codes

Package: iso-codes
Architecture: all
Description: ISO language, territory, currency, script codes and their translations
 This package provides the ISO 639 language code list, the
 ISO 4217 currency code list, the ISO 3166 territory code list,
 the ISO 3166-2 sub-territory list, and the ISO 15924 script code
 list.
 .
 It also (more importantly) provides their translations in .po form.

Package: iso-3166-udeb
Architecture: all
Section: debian-installer
Priority: optional
XC-Package-Type: udeb
Description: provides iso_3166.tab file
 This package provides the iso_3166.tab file, which lists country names
 and their ISO-3166 codes.
