#!/usr/bin/make -f
# GNU Copyright 2001 by Alastair McKinstry
# Modifications Copyright 2006, 2008 by Tobias Quathamer

# Uncomment this for verbose mode
# export DH_VERBOSE=1

config.status: configure
	dh_testdir
	./configure --prefix=/usr

build: build-stamp

build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean


install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/iso-codes

binary-arch:

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs TODO README
	dh_installchangelogs ChangeLog
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb -- -Z bzip2

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
